<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta1</title>
</head>
<body>
    <h1>Receta de Pizza Hawaiana</h1>
    <p>Esta pizza es una fiesta para el paladar, y prepararla es muy fácil.</p><hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>1 bollo de masa para pizza</li>
        <li>1/2 taza de salsa de tomate</li>
        <li>1 taza de queso mozzarella rallado</li>
        <li>200 gramos de jamón cocido, cortado en trozos</li>
        <li>1 taza de piña en trozos</li>
        <li>Opcionales: cebolla caramelizada, pimiento asado o bacon</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="i">
        <li>Precalentar el horno a temperatura fuerte.Estirar la masa sobre una superficie enharinada hasta obtener el grosor deseado y colocar en una bandeja para hornear.</li>
        <li>Extender una capa uniforme de salsa de tomate sobre la masa, dejando un borde sin salsa. Cocinar alrededor de 3 o 4 minutos hasta que la salsa absorba y la masa se cocine ligeramente.</li>
        <li>Luego sacar del horno y agregar un poco más de salsa, sin exagerar. Luego repartir la mozzarella rallada por encima,  los trozos de jamón, y la piña. En este paso se agregan los ingredientes opcionales, en caso de utilizarse.</li>
        <li>Hornear la pizza en el horno a temperatura fuerte durante 8 -10, o hasta que la masa esté dorada y el queso burbujeante. Sacar del horno y dejar reposar durante unos minutos antes de cortarla y servirla.</li>
        </ol>
    </ol><br>
    <a href="https://www.paulinacocina.net/pizza-hawaiana/34025" target="_blank">
    Leer receta en <strong>Paulina Cocina</strong>
</a><br>
<a href="instructivo2.html" target="_blank">
    Leer receta de <em>Peras al Vino Tinto</em>
</a><br>
<a href="../../idex.html">Volver al inicio</a>
</body>
</html>